<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.helloworld"
    android:versionCode="306"
    android:versionName="3.0.6">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="25" />
    <!--闪光灯权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />'
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Required -->
    <permission
        android:name="com.example.administrator.helloworld.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.example.administrator.helloworld.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!--===========================================================================================-->

    <!-- 短信接收发送权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:icon, android:theme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".DrawerLayoutAcitvity" />
        <activity android:name=".PullFrushActivity" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".TranscationActivity" />
        <activity android:name=".baserecyclerviewadapterhelper.BaseRecyclerViewAdapterHelper" />
        <activity android:name=".eventbus.EventBus_" />
        <activity android:name=".zxing.ZxingActivity" />
        <activity android:name=".camera.CameraActivity" />

        <!-- <activity -->
        <!-- android:name="com.xys.libzxing.zxing.activity.CaptureActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden"> -->


        <!-- </activity> -->


        <activity android:name=".GuaGuaKaActivity" />
        <activity android:name=".popwindow.PopWindowActivity" />
        <activity android:name=".banner.Banner" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".dialog.MyTextDialog" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".tablayout.TabLayoutTestActivity" />
        <activity
            android:name=".viewpagerandgrideview.ViewPagerAndGrideView"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".test.TestActivity"></activity>
        <activity android:name=".test.Second" />
        <activity android:name=".listview.ListViewAcitvity" />
        <activity android:name=".JpushActivity" />
        <activity
            android:name=".cunpiao.BuyTicketActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        </activity>
        <activity android:name=".cunpiao.HuaLangActivity" />
        <activity android:name=".listview.LoginActivity" />


    </application>

</manifest>